*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  width: 100vw;
  height: 100vh;

  background: url(./bg.jpg)no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box
{
  position: relative;
  width: 470px;
  height: 270px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);

  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  transition: 0.3s;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.box:hover
{
  background: rgba(3, 181, 246, 0.612);
}

.logo
{
  position: absolute;
  width: 80px;
  right: 40px;
  top: 40px;
}

.chip
{
  position: absolute;
  width: 50px;
  left: 40px;
  top: 120px;
}

.number,
.name,
.from,
.exp
{
  position: absolute;
  color: #ffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.number
{
  top: 170px;
  left: 40px;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 6px;
}

.name
{
  top: 210px;
  left: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.from
{
  top: 210px;
  right: 80px;
}

.from::after
{
  content: "-";
  margin: 10px;
}

.exp
{
  top: 210px;
  right: 40px;
}

.design
{
  width: 800px;
  height: 500px;

  border: 40px solid #ffffff4d;
  border-radius: 50%;

  transform: skewY(-20deg);
}